alembic
annotated-types
anyio
asyncpg
arq
certifi
click
Deprecated
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
importlib_resources
iniconfig
limits
Mako
MarkupSafe
packaging
pluggy
psycopg2-binary
pydantic
pytest
pytest-asyncio
pytest-cov
python-dotenv
PyYAML
sniffio
SQLAlchemy
sqlmodel
starlette
typing_extensions
uvicorn
uvloop
watchfiles
websockets
wrapt
slowapi
